@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'main-font';
    src: local('MyFont'), url('./assets/font/Montserrat-Regular.ttf');
}

* {
    font-family: "main-font", serif !important;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.ant-select-show-search:where(.css-dev-only-do-not-override-7ny38l).ant-select:not(.ant-select-customize-input) .ant-select-selector {
    cursor: text;
    border-radius: 20px;
}
  